<li>
	{{burger_name}}

	<button class="change-devour btn btn-dark" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}{{else}}Time to eat!{{/if}}
	</button>

	<button class="delete-burger btn btn-dark" data-id="{{this.id}}">DELETE!</button>
</li>
